<!DOCTYPE html>
<html lang="es-MX" prefix="og: http://ogp.me/ns#" >
<head>

    <meta charset="UTF-8" />
    <meta name="theme-color" content="#b10247">
    <meta name="msapplication-navbutton-color" content="#b10247">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b10247">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta name="facebook-domain-verification" content="lwp3osyfatif1sjjz9eqph8yux8rw2" />

    <title>Calculadora Organizando mis Gastos - Compartamos Banco</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <meta name="description" content="¿Sientes que el dinero no te rinde? Esta calculadora te ayudará a organizar tu dinero y sacarle el mayor provecho.">
    <meta name="author" content="Compartamos" />

    <link rel="stylesheet" href="css/theme.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/calculadora_1.css?v4" />

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/contenthandler/!ut/p/digest!rwIpvDZkKV26JDJjysco_w/dav/fs-type1/themes/Banco2019/css/app/styleCok.css?v4">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="/contenthandler/!ut/p/digest!rwIpvDZkKV26JDJjysco_w/dav/fs-type1/themes/Banco2019/js/app/jquery.cookie.min.js"></script>
    <script src="/contenthandler/!ut/p/digest!rwIpvDZkKV26JDJjysco_w/dav/fs-type1/themes/Banco2019/js/app/cookVal.js"></script>

    <!-- Google Tag Manager -->
    <script>
	if ($.cookie("CookConsentanalitic")==="true"){
	(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PXVLSK6');
		}</script>
    <!-- End Google Tag Manager -->

     <!-- Adobde -->
<script src="https://assets.adobedtm.com/cb3b68329895/103e8db8a25d/launch-b0b7225849ec.min.js" async></script>

<script>
    if ($.cookie("CookConsentanaliticPub")==="true"){
    //prehiding snippet for Adobe Target with asynchronous tags deployment
    ;(function(win, doc, style, timeout) {
    var STYLE_ID = 'at-body-style';
    function getParent() {
        return doc.getElementsByTagName('head')[0];
    }
    function addStyle(parent, id, def) {
        if (!parent) {
        return;
        }
        var style = doc.createElement('style');
    style.id = id;
        style.innerHTML = def;
        parent.appendChild(style);
    }
    function removeStyle(parent, id) {
        if (!parent) {
        return;
        }
        var style = doc.getElementById(id);
        if (!style) {
        return;

        }
        parent.removeChild(style);
    }
    addStyle(getParent(), STYLE_ID, style);
    setTimeout(function() {
        removeStyle(getParent(), STYLE_ID);
    }, timeout);
    }(window, document, "body {opacity: 0 !important}", 3000));
    }
</script>

<!-- End Adobde -->

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXVLSK6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="page">

        <header>
            <div id="site-header" >

                <div class="pre-head">
                    <div class="container">
                        <div class="row justify-content-end ">
                            <div class="col-lg-9 ">
                                <div class="row justify-content-end ">
                                    <div class="col-lg-10 text-right call-wrap " >
                                        <div class="d-none d-lg-block">

                                        </div>
                                    </div>
                                    <div class="col-lg-1 no-padding">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="header">

                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-5 col-md-3 col-lg-2">
                                <a href="https://www.compartamos.com.mx/compartamos" title="Ir al inicio compartamos.com.mx">
                                    <img src="assets/logo2018.png" class="logo" alt="Compartamos Banco"/>
                                </a>
                            </div>
                            <!-- <div class="col-3 col-md-2 col-lg-1 logo-28">
                                <img src="assets/logo-29-01.png" alt="29 años"/>
                            </div> -->
                            <div class="col-4 col-md-7 col-lg-9 menu-col">
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-md-10 header-right">
                                        <div class="header-right__title"><a href="../index.html" class="edufin-nav">Educación Financiera</a></div>
                                        <div class="header-right__phone">
                                            <a class="call-action" href="tel:8002209000">
                                                <div class="call-action-phone"><img src="assets/phone.png"> 800 220 9000</div>
                                                <div class="call-action-text"><img src="assets/phone.png"> Llama</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <div class="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </header>

        <div id="content">

            <div class="wrapper">

                <div class="wrapper__slider">
                    <div class="wrapper__slider__left">

                        <ul class="wrapper__slider__left__menu">
                            <li>
                                <a href="https://www.compartamos.com.mx/compartamos">Inicio</a>
                            </li>
                            <li class="wrapper__slider__left__menu__separator"> / </li>
                            <li>
                                <a href="../index.html">Educación Financiera</a>
                            </li>
                            <li class="wrapper__slider__left__menu__separator"> / </li>
                            <li>
                                Organizando mis gastos
                            </li>
                        </ul>

                        <h1>Organizando mis gastos</h1>

                        <p>¿Sientes que el dinero no te rinde? Esta calculadora te ayudará a organizar tu dinero y sacarle el mayor provecho.</p>

                    </div>
                    <div class="wrapper__slider__right">

                        <div class="wrapper__slider__right__img"><img src="assets/icon-house.png"></div>

                    </div>
                </div>

                <div class="wrapper__calc__mask">

                    <div class="wrapper__calc__mask__container" :class="mainSlideClass">

                        <div class="wrapper__calc__mask__section">

                            <div class="wrapper__calc__mask__section__steps">
                                <ul class="wrapper__calc__mask__section__steps__ul">
                                    <li class="wrapper__calc__mask__section__steps__ul__li wrapper__calc__mask__section__steps__ul__li_active">1</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li">2</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li">3</li>
                                </ul>
                            </div>

                            <div class="wrapper__calc__mask__section__field">
                                <label>Escribe tus ingresos mensuales:</label>
                                <input type="text" v-model.trim="earnings" v-on:blur="earningsBlur" @click="earningsClick" @keyup.enter="nextStep">
                            </div>

                            <div class="msg-error" v-show="showErrorMsg" style="display: none">
                                {{ txtErrorMsg }}
                            </div>

                            <div class="wrapper__calc__mask__section__btn">
                                <button @click="nextStep">Continuar</button>
                            </div>

                        </div>

                        <div class="wrapper__calc__mask__section">

                            <div class="wrapper__calc__mask__section__steps" v-show="showSteps2" style="display: none">
                                <ul class="wrapper__calc__mask__section__steps__ul">
                                    <li class="wrapper__calc__mask__section__steps__ul__li">1</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li wrapper__calc__mask__section__steps__ul__li_active">2</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li">3</li>
                                </ul>
                            </div>

                            <div class="wrapper__calc__mask__section__field wrapper__calc__mask__section__field_mb">
                                <label>Agrega tus gastos:</label>
                            </div>

                            <div class="wrapper__calc__mask__section__list__expenses" v-show="showItemsStep2">

                                <app-result-list-item v-for="(exp, index) in arrExpenses" :key="index" :name="exp.name" :code="exp.code" :image="exp.image" :monto="exp.monto"></app-result-list-item>

                            </div>

                            <app-buttons-list :key="btnListKey" :xrender="renderResultItemsComp"></app-buttons-list>

                            <div class="wrapper__calc__mask__section__total" v-show="showItemsStep2">
                                <div class="wrapper__calc__mask__section__total__title">
                                    Total
                                </div>
                                <div class="wrapper__calc__mask__section__total__value">
                                    {{ getTotalExpenses | toCurrency }}
                                </div>
                            </div>

                            <div class="msg-error" v-show="showErrorMsg">
                                {{ txtErrorMsg }}
                            </div>

                            <div class="center__items" v-show="showItemsStep2">
                                <button @click="getBalance" class="btn__reset">Finalizar</button>
                                <br>
                                <br>
                                <button @click="resetCalc" class="btn__reset">Reiniciar Calculadora</button>
                            </div>


                        </div>

                        <div class="wrapper__calc__mask__section">

                            <div class="wrapper__calc__mask__section__steps" v-show="showSteps3" style="display: none">
                                <ul class="wrapper__calc__mask__section__steps__ul">
                                    <li class="wrapper__calc__mask__section__steps__ul__li">1</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li">2</li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li__line">
                                        <div class="wrapper__calc__mask__section__steps__ul__li__line2"></div>
                                    </li>
                                    <li class="wrapper__calc__mask__section__steps__ul__li wrapper__calc__mask__section__steps__ul__li_active">3</li>
                                </ul>
                            </div>

                            <div class="wrapper__result" v-show="showResultBox">

                                <div class="wrapper__result__left">

                                    <div class="wrapper__result__left__title">
                                        Tienes un saldo:
                                        <br>
                                        <span v-if="resPositive" class="res_positive">¡Positivo!</span>
                                        <span v-if="resNegative" class="res_negative">¡Negativo!</span>
                                        <span v-if="resNeutro" class="res_neutro">¡Neutro!</span>
                                    </div>

                                    <p class="wrapper__result__right__highlight-text" v-show="showTxtPositive">
                                        ¡Felicidades eres muy bueno organizando tus finanzas! <br> <b>Tus ingresos son mayores a tus gastos.</b>
                                    </p>

                                    <p class="wrapper__result__right__highlight-text" v-show="showTxtNeutro">
                                        ¡Debes organizarte mejor! <br> <b>Tus ingresos son iguales a tus gastos.</b>
                                    </p>

                                    <p class="wrapper__result__right__highlight-text" v-show="showTxtNegative">
                                        ¡Mucha atención! <br> <b>Tus gastos son mayores a tus ingresos.</b>
                                    </p>

                                    <div class="wrapper__result__left__hr"></div>

                                    <div class="wrapper__result__left__excess">
                                        <div class="wrapper__result__left__excess__text">Tu balance:</div>
                                        <div class="wrapper__result__left__excess__value"> {{ result | toCurrency }}</div>
                                    </div>

                                    <div class="wrapper__result__left__graph">
                                        <div class="wrapper__result__left__graph__img">
                                            <!-- <img src="assets/chart.png"> -->
                                            <div id="chart"></div>
                                        </div>
                                        <div class="wrapper__result__left__graph__values">
                                            <!-- <img src="assets/chart_description.png"> -->
                                        </div>
                                    </div>

                                    <div class="wrapper__result__left__others">

                                        <div class="center__items btn__mb">
                                            <button @click="resetCalc" class="btn__reset">Reiniciar Calculadora</button>
                                        </div>

                                        <p>Haz uso de nuestras otras calculadoras:</p>

                                        <a href="../calculadora-gastos-hormiga/index.html" @click="clickAnt" class="wrapper__result__left__others__button">
                                            <img src="assets/icon-calc.png">
                                            Gastos hormiga
                                        </a>

                                        <a href="../calculadora-alcanzando-mis-suenos/index.html" @click="clickDreams" class="wrapper__result__left__others__button">
                                            <img src="assets/icon-calc.png">
                                            Alcanzando mis sueños
                                        </a>

                                    </div>

                                </div>

                                <div class="wrapper__result__right">

                                    <div class="wrapper__result__right__title">Tenemos algunos consejos que podrían servirte</div>

                                    <div class="wrapper__result__right__hr"></div>

                                    <div v-show="showTxtPositive">

                                        <p class="wrapper__result__right__text">
                                            Estás en un excelente punto para <a href="https://www.compartamos.com.mx/compartamos/ahorro/inversiones-compartamos" class="txtHl" target="_blank" rel="noreferrer noopener">comenzar a invertir</a>. Las inversiones se encargan de poner a trabajar tu dinero para obtener una ganancia. Para comenzar es necesario contar con un ahorro previo, aunque no sea mucho. ¡Así de sencillo!
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            Te recomendamos utilizar la calculadora <a href="../calculadora-alcanzando-mis-suenos" class="txtHl">Alcanzando mis Sueños</a> para que conozcas cuánto dinero y el tiempo que te llevará cumplir alguna meta.
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            ¡Sigue por el mismo camino y alcanzarás todos tus sueños!
                                        </p>
                                    </div>

                                    <div v-show="showTxtNeutro">

                                        <p class="wrapper__result__right__text">
                                            ¡Evita los gastos hormiga! Éstos son aquellas compras innecesarias que realizamos sin darnos cuenta; puede ser tu café en la mañana, unas papas a medio día, o un pan de dulce cada noche. Si les dices adiós te darás cuenta que tu dinero te rendirá mejor en el mes e incluso podrás comenzar a destinar una parte de tu dinero al <a href="https://www.compartamos.com.mx/compartamos/ahorro/cuenta-basica-compartamos" class="txtHl" target="_blank"  rel="noreferrer noopener">ahorro</a>.
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            Utiliza la Calculadora <a href="../calculadora-gastos-hormiga" class="txtHl">Gastos Hormiga</a> para conocer en qué estás gastando más y así te sea más fácil organizar tu dinero.
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            ¡Recuerda que tener un ahorro es un salvavidas en una emergencia!
                                        </p>
                                    </div>

                                    <div v-show="showTxtNegative">

                                        <p class="wrapper__result__right__text">
                                            Arma un presupuesto; anota cuánto dinero ganas al mes y en qué lo gastas. Al final de mes podrás identificar en qué utilizas tu dinero, y podrás organizar de una mejor manera tus gastos del siguiente mes. Si planeas bien podrás <a href="https://www.compartamos.com.mx/compartamos/ahorro/cuenta-a-mi-favor" class="txtHl" target="_blank"  rel="noreferrer noopener">empezar a ahorrar</a>, de modo que estarás prevenido ante cualquier situación; además, lograrás hacer tus metas realidad.
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            Te recomendamos usar la Calculadora <a href="../calculadora-gastos-hormiga" class="txtHl">Gastos Hormiga</a> a la hora de hacer tu presupuesto, te ayudará mucho en la organización de tu dinero y no se te escapará ningún gasto hormiga.
                                        </p>

                                        <p class="wrapper__result__right__text">
                                            ¡Arma tu presupuesto y empieza a ahorrar!
                                        </p>
                                    </div>

                                    <div class="wrapper__result__right__fb__btn" align="center">
                                        <a :href="lnkFb" class="wrapper__result__right__fb" target="_blank" rel="noreferrer noopener">
                                            <img src="assets/icon-fb.svg">
                                            Compartir en Facebook
                                        </a>
                                    </div>

                                    <div class="wrapper__result__right__blog">
                                        <div class="wrapper__result__right__blog__img">
                                            <div class="wrapper__result__right__blog__img__src">
                                                <img src="assets/img-blog.png">
                                            </div>

                                            <div class="wrapper__result__right__blog__img__link">
                                                <a href="https://www.compartamos.com.mx/CompartamosBanco/themes/media/blog/ahorrar-te-saca-de-problemas-descubre-como.html" target="_blank"  @click="clickBlog"  rel="noreferrer noopener">Ir al blog <img src="assets/icon-arrow.png" class="wrapper__result__right__blog__img__arrow"></a>
                                            </div>

                                        </div>
                                        <div class="wrapper__result__right__blog__text">
                                            <h3>¡Ahorrar te saca de problemas! Descubre cómo</h3>

                                            <a href="https://www.compartamos.com.mx/CompartamosBanco/themes/media/blog/ahorrar-te-saca-de-problemas-descubre-como.html" target="_blank"  @click="clickBlog"  rel="noreferrer noopener">Ir al blog <img src="assets/icon-arrow.png" class="wrapper__result__right__blog__text__arrow"></a>
                                        </div>
                                    </div>

                                    <div class="wrapper__result__right__others">

                                        <p>Haz uso de nuestras otras calculadoras:</p>

                                        <a href="../calculadora-gastos-hormiga" class="wrapper__result__right__others__button">
                                            <img src="assets/icon-calc.png">
                                            Gastos hormiga
                                        </a>

                                        <a href="../calculadora-alcanzando-mis-suenos" class="wrapper__result__right__others__button">
                                            <img src="assets/icon-calc.png">
                                            Alcanzando mis sueños
                                        </a>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div id="ebook"></div>

        </div>

        <div class="msg-old-browser" id="msgOldBrowser">
            <div class="close" onclick="CloseMsgOldBrowser()"> X </div>
            <p>Para tener una mejor experiencia de navegación, te sugerimos descargar <a href="https://www.google.com.mx/chrome/" target="_blank" rel="noopener noreferrer"> Google Chrome</a></p>
        </div>
<footer>
            <div id="site-footer">
                <div class="wrap-first-section">
                    <div class="first-row text-center">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <nav>
                                        <ul class="footer-nav nav ">
                                            <li class="col-md-12 col-lg-3 ">
                                                <ul id="cgsocilamedia" class="social footer-nav nav justify-content-center">
                                                    <li class=" ">
                                                        <a href="https://www.facebook.com/CompartamosBanco" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href="https://twitter.com/compartamosbanc" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href="https://www.youtube.com/user/compartamosbanco" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="col-md-2 col-lg-1 ">
                                                <!--  -->
                                                <a href="/compartamos/blog" title="Blog" target="_blank" class=" ">
                                                    Blog
                                                </a>
                                            </li>
                                            <li class="col-md-2 col-lg-1 ">
                                                <!--  -->
                                                <a href="/compartamos/legal/une" title="UNE" target="_self" class=" ">
                                                    UNE
                                                </a>
                                            </li>
                                            <li class="col-md-3 col-lg-2 ">
                                                <!--  -->
                                                <a href="/wcm/connect/d5eb79e0-8865-404c-b47e-2f78cc6b5619/AclaracionSPEI.pdf?MOD=AJPERES" title="Aclaraciones" target="_blank" class=" ">
                                                    Aclaraciones
                                                </a>
                                            </li>
                                            <li class="col-md-5 col-lg-4 ">
                                                <!--  -->
                                                <a href="/wcm/connect/87bb2864-25d4-4378-ba36-ced670a81de4/productosgarantizadosporIPAB.pdf?MOD=AJPERES" title="Productos garantizados por el IPAB por el equivalente a 400mil UDIS" target="_blank" class=" ">
                                                    Productos garantizados por el IPAB por el equivalente a 400mil UDIS
                                                </a>
                                            </li>
                                            <li class="col-md-4 col-lg-4 ">
                                                <!--  -->
                                                <a href="/compartamos/servicios/cobro-pago" title="Medios de cobro y pago" target="_self" class=" ">
                                                    Medios de cobro y pago
                                                </a>
                                            </li>
                                            <li class="col-md-3 col-lg-4 ">
                                                <!--  -->
                                                <a href="/compartamos/informacion-financiera" title="Información Financiera" target="_self" class=" ">
                                                    Información Financiera
                                                </a>
                                            </li>
                                            <li class="col-md-5 col-lg-4 ">
                                                <!--  -->
                                                <a href="/compartamos/servicios/linea-de-atencion" title="Línea de atención Compartamos" target="_self" class=" ">
                                                    Línea de atención Compartamos
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="container ">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-lg-7 text-center pb-3 ">Una empresa de <img alt="gentera" src="/contenthandler/!ut/p/digest!XzWpHd4WWNGJyUWtkUvndg/dav/fs-type1/themes/Banco2019/images/gentera.png"> 2021 Banco Compartamos, SA, Institución de Banca Múltiple</div>
                                <div class="col-12 col-lg-5 pb-3">
                                    <div class="row text-center no-gutters">
                                        <div class="col-4 align-items-center"><a href="https://www.abm.org.mx/PGEF/" title="ABM" target="_blank">
                                            <img src="/wcm/connect/ec95be7f-3f40-4ba5-91d1-24df9256ebaf/icon-abm.jpg?MOD=AJPERES" align="amb" alt="Asociación de Bancos de México">
                                        </a></div>
                                        <div class="col-2 align-items-center"><a href="/compartamos/legal/buro" title="Buro" target="_blank">
                                            <img src="/wcm/connect/9907f708-f89b-42d7-8eae-e0bbe37dfcbd/icon-buro.png?MOD=AJPERES" align="buro" alt="buro de entidades financieras">
                                        </a></div>
                                        <div class="col-2 accordion">
                                            <div style="padding:0" class="inline-image"><img src="/wcm/connect/338577b3-578b-4cc4-93ef-e29cdb20a6f2/icon-condusef.png?MOD=AJPERES" align="condusef" alt="Condusef"></div>

                                        </div>
                                        <div class="col-2"><a href="https://www.gob.mx/ipab" title="IPAB" target="_blank">
                                            <img src="/wcm/connect/b49ea9cb-a95c-4002-a856-259356fb14a1/icon-ipab.png?MOD=AJPERES" align="ipab" alt="ipab">
                                        </a></div>
                                        <div class="col-2"><a href="http://rea.inai.org.mx/_catalogs/masterpage/Sec6_1.aspx" title="INAI" target="_blank">
                                            <img src="/wcm/connect/7e3b7580-9786-4c7a-aca4-054db6259da9/icon-inai.png?MOD=AJPERES" align="inai" alt="inai">
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-sub-footer">
                    <div class="third-row clear ">
                        <div class="container">
                            <div class="row">
                                <nav>
                                    <ul class="footer-nav nav ">
                                        <li class="col-md-6 col-lg-3 text-center text-lg-left ">
                                            <a href="/compartamos/legal/credito-especial" title="Reporte de crédito especial" target="_self" class=" ">
                                                Reporte de crédito especial
                                            </a>
                                        </li>
                                        <li class="col-md-6  col-lg-3 text-center ">
                                            <a href="/compartamos/legal/sistema-remuneracion" title="Sistema de remuneración" target="_self" class=" ">
                                                Sistema de remuneración
                                            </a>
                                        </li>
                                        <li class="col-md-6 col-lg-3 text-center ">
                                            <a href="/compartamos/legal/privacidad" title="Avisos de privacidad" target="_self" class=" ">
                                                Avisos de privacidad
                                            </a>
                                        </li>
                                        <li class="col-md-6 col-lg-3 text-center text-lg-right ">
                                            <a href="/compartamos/legal/terminos-y-condiciones" title="Términos y condiciones" target="_self" class=" ">
                                                Términos y condiciones
                                            </a>
                                        </li>
                                        <li class="col-md-6 col-lg-6 text-center ">
                                            <a href="/compartamos/legal/tips-seguridad" title="Tips protección de datos personales" target="_self" class=" ">
                                                Tips protección de datos personales
                                            </a>
                                        </li>
                                        <li class="col-md-6 col-lg-6 text-center ">
                                            <a href="/compartamos/legal/comisiones" title="Consulta los Costos y las Comisiones de nuestros productos" target="_self" class=" ">
                                                Consulta los Costos y las Comisiones de nuestros productos
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="container copy">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content">Cambios Contractuales para aclaraciones:<br>
                                        En caso que Compartamos Banco,  no realice las acciones de verificación descritas en el artículo 51 Bis de las Disposiciones de carácter general aplicables a las Instituciones de Crédito en las fechas que en ella se establecen, para la contratación de
                                        cualesquiera de los productos previstos en el presente Contrato, manifiesta que asumirá los riesgos y, por lo tanto, los costos de las operaciones que no sean reconocidas por el Cliente, en el entendido que las reclamaciones de dichas operaciones serán
                                        abonadas al Cliente en términos de las Disposiciones a las que hace referencia la presente declaración, procediendo de inmediato con la investigación correspondiente.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div  id="polCook"></div>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="fonts/bree/stylesheet.css" rel="stylesheet" >
    <link rel="stylesheet" href="fonts/fontawesome/css/fontawesome-all.min.css" />

    <script src="js/apexcharts-v3.10.js"></script>

   
    <script src="js/theme-scripts.js"></script>
    <script src="js/bowser.min.js"></script>
    <script src="js/calculadora-1.js?v4"></script>

    <script src="js/accounting.min.js"></script>
    <script src="js/vue.js"></script>

    <script src="js/calculadora-1-vue.js?v2"></script>

    <script type="text/javascript">

        qrySelector = document.querySelector("#chart");

    </script>

</body>
</html>